<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SingUp</h1>
    <form action="/user" method="post">
        <label for="username">Username:</label>
        <input type="text" name="name" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Signup</button>
    </form>

    <div style="display: flex; align-items: center; gap: 8px;">
        <p>Already have an account? </p>
        <button>
            <a href="/login" style="text-decoration: none; color: inherit;">Login</a>
        </button>
    </div>

</body>
</html>